<!-- Strictly speaking this file is optional, but I recommend keeping it. 
See the comment about index.html in main.py for more details. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask</title>
  </head>
  <body>
    <h1>Telegram Bot Demo</h1>
    <p> 
      The demo bot is up and running. See what it can already do by playing with it in your Telegram App. Open <a href="https://t.me/TigcoDemoBot" target="_blank">@TigcoDemoBot</a>.
      <br> <br> 
      Feel free to fork  <a href="https://repl.it/@tigco/telegram-bot-on-replit#README.md" target="_blank">this repl</a> and explore many possibilities of <a href="https://telegram.org/blog/bot-revolution" target="_blank">Telegram Bots.</a>
    </p>
    <footer style="text-align:center">
      Made by <a target="_blank" href="https://twitter.com/tigco">@tigco</a><br><br>
      <a href="https://github.com/tigco/telegram-bot-on-replit"><img src="https://icongr.am/fontawesome/github.svg?size=20" style="vertical-align"></a>
    </footer>
  </body>
</html>